<ion-view title="Download DB">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form ng-submit="downloadDatabase()">
            <div class="list list-inset">
                <div align="center">
                    <h4>
                        Esta opção permite fazer o backup da base de dados do app para posterior recuperação em um 
                        outro aparelho ou no mesmo no caso de reinstalação do app. O arquivo será armazenado no diretório "Android/data/com.spendingmanagerapp/files", que deve ser copiado para um outro diretório logo após o backup, pois se o app for desinstalado o diretório do mesmo será apagado juntamente com a base.
                    </h4>
                </div><br/><br/><br/>
                <button type="submit" class="button button-block button-positive">Download</button>
            </div>
        </form>
    </ion-content>
</ion-view>

